foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="foreachFlow" doc:id="880826df-074e-4085-a3c3-2e646cb309f2" >
		<http:listener doc:name="Listener" doc:id="bc7b124e-dcff-496e-8be6-e4e2079d01cb" config-ref="HTTP_Listener_config" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="2a5262ae-d2bd-4de1-843f-62a934e2b3a6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map {
id: 200 + $$,
name: "siva",
number: 1234567890,
lname: "reddy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="8682fbb6-ff18-47ce-97ee-0caca4c0827f" >
			<logger level="INFO" doc:name="Logger" doc:id="019bde24-152c-4baf-b5e6-159ee6a388eb" message="#[payload]"/>
			<db:select doc:name="Select" doc:id="63963b9a-c44a-4245-827b-44d20003fb37" config-ref="Database_Config">
				<db:sql ><![CDATA[select * from employee where id = 203]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:select>
		</foreach>
	</flow>
</mule>
